body{
  background-color: #f3f3f3 ;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
  }
  a {
    color: green;
    text-decoration: none;
  }
  th{
   background-color: #210cff;
  color: white;
  }
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 2px;  
  }
  tr:hover {background-color: yellow;}
  /* tr:nth-child(even) { */
    /* background-color: #dddddd; */
    /* tr:nth-child(even){background-color: #f2f2f2;} */
  /* } */

  /* div {
  margin: 80px;
  border: 1px solid #4CAF50;
} */